.inputForm {
  height: calc(92vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.submitSection {
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
}

.preferences {
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 5px;
}

.paper {
  height: 100%;
}

.schedules {
  display:flex;
  justify-content: center
}
